interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://myanimelist.net/malappinfo.php?u=testmalacct0000&status=all&type=anime
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<myanimelist><myinfo><user_id>6382581</user_id><user_name>testmalacct0000</user_name><user_watching>2</user_watching><user_completed>18</user_completed><user_onhold>5</user_onhold><user_dropped>4</user_dropped><user_plantowatch>4</user_plantowatch><user_days_spent_watching>4.33</user_days_spent_watching></myinfo><anime><series_animedb_id>356</series_animedb_id><series_title>Fate/stay\
        \ night</series_title><series_synonyms>Fate - Stay Night; Fate/stay night</series_synonyms><series_type>1</series_type><series_episodes>24</series_episodes><series_status>2</series_status><series_start>2006-01-07</series_start><series_end>2006-06-17</series_end><series_image>https://myanimelist.cdn-dena.com/images/anime/4/30327.jpg</series_image><my_id>0</my_id><my_watched_episodes>0</my_watched_episodes><my_start_date>0000-00-00</my_start_date><my_finish_date>0000-00-00</my_finish_date><my_score>0</my_score><my_status>3</my_status><my_rewatching>0</my_rewatching><my_rewatching_ep>0</my_rewatching_ep><my_last_updated>1499542357</my_last_updated><my_tags></my_tags></anime><anime><series_animedb_id>413</series_animedb_id><series_title>Hametsu\
        \ no Mars</series_title><series_synonyms>; Mars of Destruction</series_synonyms><series_type>2</series_type><series_episodes>1</series_episodes><series_status>2</series_status><series_start>2005-07-06</series_start><series_end>2005-07-06</series_end><series_image>https://myanimelist.cdn-dena.com/images/anime/7/68855.jpg</series_image><my_id>0</my_id><my_watched_episodes>0</my_watched_episodes><my_st[...]
