interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://myanimelist.net/malappinfo.php?u=testmalacct0001&status=all&type=anime
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<myanimelist><myinfo><user_id>6506516</user_id><user_name>testmalacct0001</user_name><user_watching>0</user_watching><user_completed>0</user_completed><user_onhold>0</user_onhold><user_dropped>0</user_dropped><user_plantowatch>0</user_plantowatch><user_days_spent_watching>0.00</user_days_spent_watching></myinfo><anime><series_animedb_id>6922</series_animedb_id><series_title>Fate/stay\
        \ night Movie: Unlimited Blade Works</series_title><series_synonyms>Gekijouban\
        \ Fate/Stay Night: Unlimited Blade Works; Fate/stay night Movie; Fate/stay\
        \ night UBW; Fate/stay night - Unlimited Blade Works</series_synonyms><series_type>3</series_type><series_episodes>1</series_episodes><series_status>2</series_status><series_start>2010-01-23</series_start><series_end>2010-01-23</series_end><series_image>https://myanimelist.cdn-dena.com/images/anime/9/80350.jpg</series_image><my_id>0</my_id><my_watched_episodes>1</my_watched_episodes><my_start_date>0000-00-00</my_start_date><my_finish_date>0000-00-00</my_finish_date><my_score>0</my_score><my_status>2</my_status><my_rewatching>0</my_rewatching><my_rewatching_ep>0</my_rewatching_ep><my_last_updated>1503586678</my_last_updated><my_tags></my_tags></anime><anime><series_animedb_id>9253</series_animedb_id><series_title>Steins;Gate</series_title><series_synonyms>\u30B7\
        \u30E5\u30BF\u30B2; Steins;Gate</series_synonyms><series_type>1</series_type><series_episodes>24</series_episodes><series_status>2</series_status><series_start>2011-04-06</series_start><series_end>2011-09-14</series_end><series_image>https://myanimelist.cdn-dena.com/images/anime/5/73199.jpg</series_image><my_id>0</my_id><my_watched_episodes>24</my_watched_e[...]
